:root {
  --mainColor: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Oswald',
    sans-serif;
  font-family: 'Permanent Marker',
    cursive;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important
}
.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase
}

.text-blue{
 border-color: transparent;
 transition: all 1s linear;
 -webkit-transition: all 1s linear;
 -moz-transition: all 1s linear;
 -ms-transition: all 1s linear;
 -o-transition: all 1s linear;
}
.text-bright{
  color: var(--lightBlue)
}